<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="whoplee.learnopengl.android">
    <application android:name="androidx.multidex.MultiDexApplication"
                 android:label="Learn OpenGL"
                 android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        <activity android:name=".FeatureaMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
